.container {
    position: relative;
    background-color: lavender;
    margin: auto;
    padding: 20px;
    width: 70%;
    height: 98%;
    background-color: rgb(37, 13, 13);
    color: antiquewhite;
    display: block;
    /* align-items: center */
}

.title {
    background-color: aqua;
    font-style: oblique;
    text-align: center;
    font-stretch: extra-expanded;
    color: rgba(29, 54, 9, 0.904);
    padding: 20px;
    font-size: 26px;


}

.main {
    width: 80%;
    height: 80%;
    margin: auto;
    padding-top: 20px;
    font-size: 2em;
    text-align: center;
}
.section-content{
    padding: 30px 0;
    margin: auto;
}